<nav class="navbar">
		<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
								aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				</button>
				<form class="d-flex" action="/search" method="get">
						<input required class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
						<button class="btn btn-outline-secondary d-none d-sm-block" type="submit">Search</button>
				</form>
				<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
						 aria-labelledby="offcanvasNavbarLabel">
						<div class="offcanvas-header">
								<div class="offcanvas-title d-flex w-100 justify-content-between align-items-center"
										 id="offcanvasNavbarLabel">
										<h5>Notes</h5>
										<a class="btn btn-sm btn-primary me-3" href="/">New</a>
								</div>
								<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body">
								<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
										{% for note in note_list %}
										<li class="nav-item">
												<a class="nav-link" href="/show/{{ note.id }}">{{ note.title }}</a>
										</li>
										{% endfor %}
								</ul>
						</div>
				</div>
		</div>
</nav>
