{% extends "base.html" %}

{% block content %}
{% include "components/nav-bar.html" %}


<div class="container">
		<div class="row">
				<div class="row">
						<div class="col-lg-8 mx-auto">
								<details class="text-black-50">
										<summary>What is this?</summary>
										This is a simple Markdown note-taking app, designed as a full stack Rust application running on Cloudflare Workers. It showcases the integration of the Axum framework and Cloudflare D1 database. Notes are tied to the current browser session and automatically deleted after 15 minutes.
										<a target="_blank" href="https://github.com/logankeenan/full-stack-rust-cloudflare-axum">Source Code</a>
								</details>
						</div>
				</div>
		</div>
		<form action="/create" method="post" class="needs-validation" novalidate>
				<div class="row">
						<div class="col-lg-8 mx-auto d-flex justify-content-end">
								<button type="submit" class="btn btn-sm btn-primary mb-2">Create</button>
						</div>
				</div>
				<div class="row">
						<div class="col-lg-8 mx-auto">
								<div class="mb-2">
										<markdown-toolbar for="content">
												<md-bold class="btn btn-sm btn-outline-secondary"><i class="bi bi-type-bold"></i></md-bold>
												<md-header class="btn btn-sm btn-outline-secondary"><i class="bi bi-type-h1"></i></md-header>
												<md-italic class="btn btn-sm btn-outline-secondary"><i class="bi bi-type-italic"></i></md-italic>
												<md-quote class="btn btn-sm btn-outline-secondary"><i class="bi bi-quote"></i></md-quote>
												<md-code class="btn btn-sm btn-outline-secondary"><i class="bi bi-code-slash"></i></md-code>
												<md-link class="btn btn-sm btn-outline-secondary"><i class="bi bi-link"></i></md-link>
												<md-image class="btn btn-sm btn-outline-secondary"><i class="bi bi-image"></i></md-image>
												<md-unordered-list class="btn btn-sm btn-outline-secondary"><i class="bi bi-list-ul"></i></md-unordered-list>
												<md-ordered-list class="btn btn-sm btn-outline-secondary"><i class="bi bi-list-ol"></i></md-ordered-list>
										</markdown-toolbar>
								</div>
								<textarea name="content"
													id="content"
													rows="15"
													class="w-100 form-control {% if note_form.content_error.is_some() %}is-invalid{% endif %}">{{ note_form.content }}</textarea>
								{% if note_form.content_error.is_some() %}
								<div class="invalid-feedback">{{ note_form.content_error.as_ref().unwrap() }}</div>
								{% endif %}
						</div>
				</div>
		</form>
</div>


{% endblock %}
